<!DOCTYPE html>

	<html>

		<head>
			<link rel="shortcut icon" type="image/x-icon" href="\Static\favicon.png">
			<title> Twatter </title>


			<link rel="stylesheet" href="\Static\Layout.css">

			<h1> Twatter</h1>
			<div class = "x"> <a href= / >Home</a> <a href= /About/>About</a> </div>


		</head>


		<body>

		<div class = "box1"> This is were I put the required info.
						This is were I put the required info.
						This is were I put the required info.
						This is were I put the required info.
						This is were I put the required info.
						This is were I put the required info.
						This is were I put the required info.
						This is were I put the required info.
						This is were I put the required info.
						This is were I put the required info.
						This is were I put the required info.

		</div>








		</body>

	</html>