<!DOCTYPE html>

	<html>

		<head>
			<link rel="shortcut icon" type="image/x-icon" href="\Static\favicon.png">
			<title> Twatter </title>


			<link rel="stylesheet" href="Static\Layout.css">

			<h1> Twatter</h1>
			<div class = "x"><b> <a href= /About/>About</a> <a href= /Contact/>Contact Us</a> </b> </div>


		</head>


		<body>

		<div class = "box1">
			The Economic Boom was an event caused during the 1920s in the US.
			It was an event where the American Economy had gained lots and lots of wealth and money.
			There we many causes to why this has happened.
			However the party doesn't last for long as in 1929 the infamous Wall Street Crash took place.

		</div>

		<div class="box2">
			<p><u><b>Mass production</b></u></p>
			Henry Ford. The man who made the great and profitable method of production, mass production.
		</div>








		</body>

	</html>